<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="com.example.soundhub.infrastructure.handler.StringListTypeHandler" javaType="java.util.List"/>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" javaType="java.time.LocalDate" jdbcType="DATE"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/ProfileMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/WorkMapper.xml"/>
    </mappers>

</configuration>