<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.soundhub.infrastructure.mapper.WorkMapper">
    <insert id="create" parameterType="com.example.soundhub.domain.Work" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO works
        (user_id,
         name,
         work_type,
         youtube_url,
         work_img_url,
         work_created_date)
        VALUES (#{userId},
                #{name},
                #{workType},
                #{youtubeUrl},
                #{workImgUrl},
                #{workCreatedDate})
    </insert>
</mapper>